save-exact=true
audit-level=high
engine-strict=true
resolution-mode=highest
legacy-peer-deps=false
nodeLinker=node-modules
omit=optional
strict-peer-dependencies=true
network-timeout=100000
resolve-peers=true
update-notifier=false
