@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Remove number input controls */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* Prevent number inputs from changing on mouse wheel */
input[type="number"] {
  @apply [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none;
}

input[type="number"].amount-input {
  @apply select-all;
}

input, select {
  @apply px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
    focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500;
}